{{!< default}}
<!--////////////////////////////////////Container-->
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/menu">菜单</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="row">
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>烤肉</h3>
							<div class="post">
								<a href="#"><img src="/images/7.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">烤羊肉 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/10.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">牛肉 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/9.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">鸡翅 </a></h5>
									<span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>海鲜</h3>
							<div class="post">
								<a href="#"><img src="/images/14.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">花甲 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/8.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">螃蟹 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/7.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">烤鱿鱼卷 </a></h5>
									<span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>饮料</h3>
							<div class="post">
								<a href="#"><img src="/images/13.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">鲜榨果汁 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/4.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">葡萄汁  </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/5.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">豆浆  </a></h5>
									<span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>酒类</h3>
							<div class="post">
								<a href="#"><img src="/images/8.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">啤酒</a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/10.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">红酒</a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/9.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">白酒</a></h5>
									<span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>水果</h3>
							<div class="post">
								<a href="#"><img src="/images/14.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">水果沙拉 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/8.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">芒果西瓜汁 </a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/7.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">葡萄汁 </a></h5>
									<span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1-3">
						<div class="wrap-col">
							<h3>小吃</h3>
							<div class="post">
								<a href="#"><img src="/images/13.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">蛋糕</a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/4.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">寿司</a></h5>
									<span></span>
								</div>
							</div>
							<div class="post">
								<a href="#"><img src="/images/5.jpg"/></a>
								<div class="wrapper">
									<h5><a href="#">干果</a></h5>
									<span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--////////////////////////////////////Footer-->
{{>footer}}
