{{!< default}}
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/staff">职员</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="chef">
					<div class="row">
						{{# each data.imgs}}
							<div class="col-1-4">
								<div class="wrap-col">
									<div class="zoom-container">
										<a href="#">
											<img src="{{{handleImgShow images.filename}}}" />
										</a>
									</div>
									<h3>{{{name}}}</h3>
									<!--<ul class="social t-center">
										<li><a href="#"><i class="fa fa-weibo"></i></a></li>
										<li><a href="#"><i class="fa fa-tencent-weibo"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									</ul>-->
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--////////////////////////////////////Footer-->
{{>footer}}
